<div class="container">
    <i class="fa-solid fa-headset"></i>
    <div class="jumbotron">
        <h3>
            Queremos ouvir o que voce tem a dizer
        </h3>
        <p>
            Se voce tiver alguma dúvida ou sugestão fale conosco
        </p>

        <p>
            <span><i class="fa-solid fa-envelope"></i></span>
            <h5><email endereco="exemplo@gmail.com" conteudo="Enviar um Email"></email></h5>
            <br />
            <span><i class="fa-solid fa-phone"></i></span>
            <h5>(99)9999-9999</h5>
            <br />
            <span><i class="fa-solid fa-house"></i></span>
            <h5>AV.Abobobrinha 123</h5>
        </p>
    </div>
</div>