<br />
<span><i class="fa-solid fa-ban" style="color: red; font-size:50px;"></i></span>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
            <h4>O Acesso a esta pagina é restrito</h4>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home page</a>
</div>