<br />
<span style ="font-size:50px;"><i class="fa-solid fa-user-tie" style="margin-right: 5px"></i>Admin</span>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do administrador</h2>
        </p>
    </div>
    <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index">Volta a Home page</a>
</div>